<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="styl esheet" href="">
        
        <style>
            table, th, td {
                border: 1px solid black;
            }
            .table {
                width: 500px;
            }
            .pic-cell {
                text-align: center;
            }

        </style>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tr>
                <td id="pic0" class="pic-cell" id="pic1">
                    <img src="{{ team.0.picture }}" alt="{{ team.0.name }}">
                </td>
                <td id="name0">{{ team.0.name }}</td>

                <td id="type0">{{ team.0.type }}</td>
            </tr>
            <tr>
                <td id="pic1" class="pic-cell">
                    <img src="{{ team.1.picture }}" alt="{{ team.1.name }}">
                </td>
                <td id="name1">{{ team.1.name }}</td>
                <td id="type1">{{ team.1.type }}</td>
            </tr>
            <tr>
                <td id="pic2" class="pic-cell">
                    <img src="{{ team.2.picture }}" alt="{{ team.2.name }}">
                </td>
                <td id="name2">{{ team.2.name }}</td>
                <td id="type2">{{ team.2.type }}</td>
            </tr>
            <tr>
                <td id="pic3" class="pic-cell">
                    <img src="{{ team.3.picture }}" alt="{{ team.0.name }}">
                </td>
                <td id="name3">{{ team.3.name }}</td>
                <td id="type3">{{ team.3.type }}</td>
            </tr>
            <tr>
                <td id="pic4" class="pic-cell">
                    <img src="{{ team.4.picture }}" alt="{{ team.4.name }}">
                </td>
                <td id="name4">{{ team.4.name }}</td>
                <td id="type4">{{ team.4.type }}</td>
            </tr>
            <tr>
                <td id="pic5" class="pic-cell">
                    <img src="{{ team.5.picture }}" alt="{{ team.5.name }}">
                </td>
                <td id="name5">{{ team.5.name }}</td>
                <td id="type5">{{ team.5.type }}</td>
            </tr>
        </table>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>